html{
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    --transition-speed: 600ms;
}
  
body {
    color: rgb(255,255,240);
    background-color: rgb(255,255,240);
    margin: 0;
    padding: 0;
}
  
body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: #eeeae0;
 
}
  
body::-webkit-scrollbar-thumb {
    background: #336edd;
    border-radius: 10px;
}

hr.solid {
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
    border-top: 3px solid rgb(44, 108, 255);
    border-radius: 5px;
}

 
main {
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
    padding-left: auto;
    padding-right: auto;
    /*border: 7px solid rgba(255,255,255,0.7);*/
    text-align: center;    
}

.title {
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    letter-spacing: 2px;
    font-size: 11px;
    position: absolute;
    left: 10px;
    font-family: "Times New Roman","Lucida Console","Bitstream Vera Sans Mono",monospace;
    color: rgb(255, 255, 255)
    
}
  
header {
    background-image: url(images/background-min.jpg);
    height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-color: rgb(255, 255, 255);
}

/*.banner {
    width: 100%;  
    position:absolute;
	background-repeat: repeat-x;    
	background-image: url(images/background-min.jpg);

}

.banner2 
{
    margin-top: 43rem;
    width: 100%;  
    position:absolute; 
	background-repeat: repeat-x;    
	background-image: url(images/background-min.jpg);
 

}
*/

#home {
    transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
    line-height: 15px;  


}


.Greetings img {
    position: absolute;
    padding-left: 15%;
    opacity: 0.60;
    filter: grayscale(100%);
    
}
.Greetings p {
    text-align: left;
    font-size: 24px;
    margin-right: 10rem;
    margin-left: 10rem;
    
} 

.Greetings h1 {
    text-align: left;
    font-size: 110px;
    margin-right: 10rem;
    margin-left: 10rem;
}

.Greetings a {
    font-size: 24px;
    padding-left: 0;
} 

#Lessons {
    transition: .5s all cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0;
    padding: 0;   
    margin-left: 10rem;
    height:50rem;

    
}

#Lessons p {
    text-align: left;
    font-size: 24px;
    width: 50%;
}

#Lessons img {
	float: right;
	float: top;    
 	margin-right: 10%;
	
}

#Members {
    margin-left: 10rem;
    font-size: 24px;
    line-height: 10px;
    
}




#Appearances {
    transition: .5s all cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0;
    padding: 0;   
    margin-right: 0%;
    margin-left: 10rem;
 
}

#Appearances p {
    text-align: left;
    font-size: 16px;
}

#Images {
    transition: .5s all cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0;
    padding: 0;  


}

#gallery {
    margin-left: 10%;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }

 #gallery img {
    filter: grayscale(100%);
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    transition: filter 1s;
    
 }

 #gallery img:hover {
    filter:none;
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

#Images h1 {
    text-align: left;
    font-size: 110px;
    margin-left: 10rem;
    margin-right: 10rem;
}

#Contact {
    margin: 0;
    padding: 0;   
    margin-left: 10rem;
    
}

#Contact p {
    text-align: center;
    font-size: 16px;
	margin-right: 10rem;
}

#Contact img{
    padding-left: 40%;
    height: 900px;
}

footer {
    transition: .5s all cubic-bezier(0.23, 1, 0.32, 1);
    background-size: 20%;
    height: auto;
    padding-top: 10px;

}

h1 {
    font-size: 110px;
    line-height: 100px;
    padding: 0;
    color: rgb(1,121,197);
    font-family: 'Times New Roman', sans-serif;    
}

p {
    font-weight: 5600;
    font-size: 24px;
    /*color: #303030;*/
    color: rgb(1,121,197);
    line-height: 24px;
    font-family: "Times New Roman","Lucida Console","Bitstream Vera Sans Mono",monospace;
    text-align: center;
}

pre {
    font-weight: 5600;
    font-size: 24px;
    /*color: #303030;*/
    color: rgb(1,121,197);
    line-height: 24px;
    font-family: "Times New Roman","Lucida Console","Bitstream Vera Sans Mono",monospace;
   
}

a {
    font-weight: 1000;
    font-size: 30px;
    color: rgb(1,121,197);
    line-height: 26px;
    font-family: "Times New Roman","Lucida Console","Bitstream Vera Sans Mono",monospace;
    text-align: center;
    width: 45%;
    padding-left: 25%;
}

footer p {
    text-decoration: none;
    text-align: center;
    color: rgb(1,121,197);
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
	text-justify: auto;

  
}
footer a {
    text-decoration: none;
    text-align: center;
    color: rgb(1,121,197);
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: left;
 
}



/* ========== Media Queries For Responsiveness ========== */
@media screen and (max-width:1200px) {
	
	/* Header Section Responsiveness */
	h1{
		line-height:52px;
		text-align:left;
		font-size:82px;
	}
	
	#Lessons p{
		margin-left: 7rem;
		width: 55%;
	}
	
	#Appearances p {
		margin-left: 7rem;
	}
	
	#Images p {
		margin-left: 7rem;
	}
	
}

@media screen and (max-width:991px) {
	
	/* Header Section Responsiveness */
	h1{
		line-height:38px;
		font-size:60px;
	}
	
	#Lessons p{
		margin-left: 5rem;
		margin-right: 0;
		width: 70%;
	}
	
	#Appearances p {
		margin-left: 5rem;
		margin-right:5rem;
	}
	
	#Images p {
		margin-left: 5rem;
		margin-right:5rem;
	}
	
	#Contact p {
    	margin-right: 7rem;
	}
	
}

@media screen and (max-width:767px) {
	
	/* Header Section Responsiveness */
	header{
		background-size:30%;
	}
	
	.Greetings{
		text-align:center;
		display:block;
	}
	
	.Greetings img{
		max-width:50% !important;
		margin:1rem !important;
		position:relative;
		opacity:.75;
		padding:0;
	}
	
	.Greetings p{
		margin:0 7rem;
		padding:0;
        text-align: center;
	}
	
	h1{
		line-height:32px;
		font-size:52px;
	}
	
	#Lessons,
	#Members,
	#Appearances,
	#Images,
	#Contact{
		margin-left:7rem;
	}
	
	#Lessons p{
		margin-left: 3rem;
		margin-right: 3rem;
		width: 80%;
	}
	
	#Appearances p {
		margin-left: 3rem;
		margin-right:3rem;
	}
	
	#Images p {
		margin-left: 3rem;
		margin-right:3rem;
	}
	
	#Contact{
		text-align:center;
	}
	
	#Contact p{
		margin-right:3rem;
	}
	
	#Contact img{
		max-width:40% !important;
		padding:0;
	}
	
	footer{
		background-position:center bottom;
		margin-bottom:20px;
		height:170px;
	}
	
	footer p{
		padding:0;
	}
	
}

@media screen and (max-width:600px) {
	
	.title{
		letter-spacing:1.5px;
		margin-left:30px;
	}
	
	.title img{
		height:32px !important;
	}

	.Greetings h1{
		line-height:22px;
		font-size:26px;
	}

	.Greetings img{
		max-width:60% !important;
	}
	
	.Greetings p{
		line-height:1.7;
		margin:0 4rem;
	}
	.Appearances pre {
		line-height:12px;
		font-size:12px;
		max-width: 100%;
	}
	
	hr.solid {
		border-top: 2px solid rgb(53, 72, 238);
		margin-right: 8rem;
		margin-left: 8rem;
	}
	
	h1{
		line-height:22px;
		font-size:26px;
	}
	
	#Lessons,
	#Members,
	#Appearances,
	#Images,
	#Contact{
		margin-left:5rem;
	}
	
	#Lessons p{
		margin-right: 1rem;
		margin-left: 1rem;
		line-height:1.7;
		font-size:14px;
		width: 80%;
	}
	
	#Appearances p {
		margin-left: 1rem;
		margin-right:1rem;
		line-height:1.7;
		font-size:24px;
	}
	
	#Images p {
		margin-left: 1rem;
		margin-right:1rem;
		line-height:1.7;
		font-size:24px;
	}
	
	#Images p.hobbies{
		font-size:24px !important;
	}
	
	#Contact p{
		margin-right:1rem;
		line-height:1.7;
		font-size:24px;
	}
	
	#Contact img{
		max-width:50% !important;
	}

	#Members img{
		max-width:80% !important;
	}
	
	footer{
		background-size: 25%;
		margin-bottom:15px;
		height:150px;
	}
	
	footer p{
		padding:0;
		margin-left: 50%;
	}
	
}

@media screen and (max-width:450px) {

	header{
		background-size:100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.Greetings h1{
		line-height:1.5;
		font-size:30px;
		margin:0 3rem;
	}
	
	.Greetings p{
		line-height:1.5;
		font-size:13px;
		margin:0 3rem;
	}
	.Greetings a{
		line-height:1.5;
		font-size:13px;

	}

	.Lessons p{
		line-height:1.5;
		font-size:13px;
		margin:0 3rem;


	}

	hr.solid {
		margin-right: 10px;
		margin-left: 10px;
	}
	
	#Images h1{
		line-height:1.5;
		font-size:30px;
		margin:0 1rem;
		
	}

	#Contact h1{
		font-size: 30px;

	}

	h1{
		line-height:30px;
		font-size:30px;
	}
	
	#Greetings,
	#Lessons,
	#Members,
	#Images,
	#Contact{
		margin-left:4rem;
	}

	#Appearances {
		margin-left:5px;
	}
	
	
	#Lessons p,
    #Members,
	#Appearances p,
	#Images p,
	#Contact p{
		margin-right: 2rem;
		line-height:1.5;
		font-size:14px;
		width: 65%;
	}
	
	#Members p{
		line-height:1.7;
	}

	#Appearances pre{
		font-size: 12px;
		margin-left: 0rem;
	}
	
	footer {
		background-size: 30%;
		margin-bottom: 15px;
		margin-right: 6.5rem;
		padding-top:0;
		height: 140px;
	}
	
}
